# Project 1
- **Team Members**: Chika Ozodiegwu, Kelsey Wyatt, Libardo Lambrano, Kurt Pessa

![](Images/florida_covid19_data.jpg)

### Data set used:: 
* https://open-fdoh.hub.arcgis.com/datasets/florida-covid19-case-line-data

In [11]:
import step1_raw_data_collection as step1
import step2_data_processing_and_cleaning as step2

import pandas as pd

In [13]:
df = step1.get_data()
#df = step2.get_hospitalized_data()
#df = step2.get_df_with_datetime_and_formatted_column()
#df = step2.get_hospitalizations_by_casedatetime()

#group_name = "Gender"
#group_name = "Age_group"
#group_name = "Travel_related"
#group_name = "Jurisdiction"
#group_name = "County"

df = step2.get_group(group_name)

df

     Age_group  Hospitalized
0    0-4 years           100
1  15-24 years           508
2  25-34 years          1313
3  35-44 years          1947
4  45-54 years          2788
5   5-14 years            76
6  55-64 years          3699
7  65-74 years          4037
8  75-84 years          3716
9    85+ years          2785

In [14]:
#df1, df2 = step2.get_groups_before_and_after_opening_date()
df1, df2 = step2.get_groups_by_casedatetime()

#group_name = "Gender"
#group_name = "Age_group"
#group_name = "Travel_related"
#group_name = "Jurisdiction"
#group_name = "County"

#df1,df2 = step2.get_groups(group_name)

print(df1)
print(df2)

   CaseDateTime  Hospitalized
0    2020-04-04           234
1    2020-04-05           162
2    2020-04-06           249
3    2020-04-07           221
4    2020-04-08           244
5    2020-04-09           256
6    2020-04-10           255
7    2020-04-11           186
8    2020-04-12           186
9    2020-04-13           214
10   2020-04-14           178
11   2020-04-15           212
12   2020-04-16           229
13   2020-04-17           165
14   2020-04-18           140
15   2020-04-19           156
16   2020-04-20           168
17   2020-04-21           174
18   2020-04-22           161
19   2020-04-23           180
20   2020-04-24           134
21   2020-04-25           130
22   2020-04-26           108
23   2020-04-27           214
24   2020-04-28           114
25   2020-04-29           103
26   2020-04-30           130
27   2020-05-01           145
28   2020-05-02           110
29   2020-05-03           100
   CaseDateTime  Hospitalized
0    2020-05-05           101
1    2020-05-06            96
2    2020-05-07            63
3    2020-05-08           101
4    2020-05-09           134
5    2020-05-10            90
6    2020-05-11           116
7    2020-05-12           130
8    2020-05-13           152
9    2020-05-14           164
10   2020-05-15           121
11   2020-05-16           122
12   2020-05-17           123
13   2020-05-18           120
14   2020-05-19            94
15   2020-05-20           181
16   2020-05-21           132
17   2020-05-22           144
18   2020-05-23           103
19   2020-05-24            90
20   2020-05-25            85
21   2020-05-26            99
22   2020-05-27           124
23   2020-05-28           161
24   2020-05-29           113
25   2020-05-30           104
26   2020-05-31            85
27   2020-06-01            98
28   2020-06-02           105
29   2020-06-03           138

In [13]:
#clean csv

new_csv_data_df = df[['ObjectId', "County",'Age',"Age_group", "Gender", "Jurisdiction", "Travel_related", "Hospitalized","Case1"]]
new_csv_data_df.head()

,ObjectId,County,Age,Age_group,Gender,Jurisdiction,Travel_related,Hospitalized,Case1
0,90,Hillsborough,21.0,15-24 years,Male,FL resident,Unknown,NaN,2020/07/15 05:00:00+00
1,279,Palm Beach,65.0,65-74 years,Male,FL resident,Unknown,NaN,2020/07/15 05:00:00+00
2,339,Hendry,23.0,15-24 years,Female,FL resident,Unknown,NaN,2020/07/15 05:00:00+00
3,1606,Leon,19.0,15-24 years,Male,FL resident,Unknown,NaN,2020/07/15 05:00:00+00
4,1873,Santa Rosa,21.0,15-24 years,Female,FL resident,No,NO,2020/07/15 05:00:00+00

In [18]:
#new_csv_data_df.to_csv(new_csv_data_df, 'new_cleaned_data.csv')

new_csv_data_df.to_csv ("new_covid_dataframe.csv") # index = False, header=True)

# There is no change in hospitalizations since reopening
### Research Question to Answer:
* “There is no change in hospitalizations since reopening?”

### Part 1: Six (6) Steps for Hypothesis Testing

<details><summary> click to expand  </summary>

#### 1. Identify
- **Populations** (divide Hospitalization data in two groups of data):
    1. Prior to opening
    2. After opening  
* Decide on the **date**:
    * May 4th - restaurants opening to 25% capacity
    * June  (Miami opening beaches)
- Distribution:
    * Distribution

#### 2. State the hypotheses
- **H0**: There is no change in hospitalizations after Florida has reopened
- **H1**: There is a change in hospitalizations after Florida has reopened

#### 3. Characteristics of the comparison distribution
- Population means, standard deviations

#### 4. Critical values
- p = 0.05
- Our hypothesis is nondirectional so our hypothesis test is **two-tailed**

#### 5. Calculate

#### 6. Decide!
    
</details>

### Part 2: Visualization
* Trends

### Further Inquries
* Increases in groups?
* Age
* Gender
* Ethnicitiy

### Rough Breakdown of Tasks
* Data Massaging

In [21]:
#Calculate total number of cases 
Total_covid_cases = new_csv_data_df["ObjectId"].nunique()
Total_covid_cases = pd.DataFrame({"Total Number of Cases": [Total_covid_cases]})
Total_covid_cases

   Total Number of Cases
0                 315775

In [ ]:
#Total number of cases by county (Kelsey) Include bar chart

In [ ]:
#Total number of cases by gender (Kelsey) Include pie chart

In [ ]:
#Top 10 counties with the most cases (Libardo)

In [ ]:
#Divide hospitalization data in two groups of data prior to reopening and create new dataframe (Kurt) consider total (Chika)

In [ ]:
#Divide hospitalization data in two groups of data after reopening and create new dataframe (Kurt) condider total (Chika)

In [ ]:
#Total number of hospitalization for all counties (Libardo)

In [ ]:
#Total number of hospitalization for each county and put in DataFrame # Create a visualization (Kelsey)

In [ ]:
#Percentage of hospitalization by gender # Create Visualization (Libardo)

In [ ]:
#Percentage of hospitalization by age group (Chika) #Create visualization

In [ ]:
#Percentage of hospitalization before shut down (Not done yet) (Rephrase) (Chika)

In [ ]:
#Percentage of hospitalization during shut down (backburner)

In [ ]:
#Percentage of hospitalization after reopening(Not done yet) (Rephrase) (Chika)

In [ ]:
#Compare travel-related hospitalization to non-travelrelated cases (Not done yet) (Chika)

In [ ]:
#Average number of hospitalization by county (Not done yet) (Kelsey)

In [ ]:
#Hospitalization by case date/month (needs more) (Libardo)